<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>VUE JS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>Hello Bangladesh</h1>
    
    <div id="app">{{ message }}</div>
    
    <script src="script.js"></script>
</body>
</html>